<!DOCTYPE html>
<!-- {% load static %} -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
<!--         {% block title%}

        {% endblock title %} -->
    </title> 
    <!--icon style sheet-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/error.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!--     {% block statics%}

    {% endblock statics %}  
    <script src="{% static 'js/nav.js' %}" async defer></script>
    {% comment %} <script src="https://www.google.com/recaptcha/api.js" async defer></script> {% endcomment %}
 --></head>
<body>
  <nav>
    <ul class="menu">
        <li class="logo">
            <!-- change the name of logo according to your name of image (mani/vengu) -->
            <a href="{% url 'job_seeker:home' %}"><img src="{% static 'img/logo.png' %}" alt="Placeme Logo" style="height: 30px;"></a>
        </li>
        <div>
            <img src="home cur.png" class="home-icon">
            <li class="item {% if request.resolver_match.url_name == 'home' %}active{% endif %}"><a href="{% url 'job_seeker:home' %}">Home</a></li>
        </div>
        <div>
            <span class="icon-job"></span>
            <li class="item {% if request.resolver_match.url_name == 'my-job' %}active{% endif %}"><a href="{% url 'job_seeker:my-job' %}">Jobs</a></li>
        </div>
        <div>
            <span class="icon-notifi"></span>
            <li class="item {% if request.resolver_match.url_name == 'notifications' %}active{% endif %}"><a href="{% url 'job_seeker:notifications' %}">Notifications</a></li>
        </div>
        <li class="toggle" id="menu-toggle"><span class="bars"></span></li>
        <!-- {% if user.is_authenticated %} -->
            <li class="item button {% if request.resolver_match.url_name == 'profile' %}active{% endif %}"><a href="{% url 'job_seeker:profile' %}">Profile</a></li>
<!--         {% else %}    
            <li class="item button {% if request.resolver_match.url_name == 'login' %}active{% endif %}"><a href="{% url 'auth:login' %}">Log In</a></li>        
        {% endif %} -->
        <li class="item">
            <select name="Usertypes" onchange="location = this.value;">
                <option value="{% url 'job_seeker:home' %}">Job Seeker</option>
                <option value="{% url 'recruiters:home' %}">Recruiter</option>
                <option value="{% url 'administrator:dashboard' %}">Administrator</option>
                <option value="{% url 'refer_and_earn:home' %}">Refer and earn</option>
            </select>
        </li>
    </ul>
</nav>
<!-- 
{% block content%}

{% endblock content %} -->

<footer>
  <div class="footer-content">
      <span>&copy; 2024 Placeme</span>
      <a href="#">Terms</a>
      <a href="#">Privacy Centre and Ad Choices</a>
  </div>
</footer>
  <script src="{% static "js/script.js" %}" defer></script>
  <script src="{% static "js/error.js" %}" defer></script>
</body>
</html>