<!DOCTYPE html>
<!-- {% load static %} -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <!-- {% block title%} -->
           Sigup page
        <!-- {% endblock title %} -->
    </title>
    
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/error.css' %}"> -->
    <link rel="stylesheet" href="login.css"/>
    <script defer src="login.js" ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
  <div class="form-container">  
        <!-- {% block content %} -->

        <!-- {% endblock content %} -->



<form action="" method="POST"  class="signup">
  <!-- {% csrf_token %} -->
  <div class="slide-controls">
    <input type="radio" name="slide" id="login">
    <input type="radio" name="slide" id="signup" checked> 

    <a for="login" class="slide login" id="login-btn" href="{% url 'auth:login' %}">Login</a>

    <a for="signup" class="slide signup white" id="signup-btn" href="{% url 'auth:signup' %}">Signup</a>
    <div class="slider-tab"></div>
  </div>
  <div class="form-inner"> 
<!--     {% if messages %}
      {% for message in messages %}
        <div class='alert alert-{{ message.tags }}'>
          <span class="closebtn">&times;</span>
            {{ message }}
        </div>    
      {% endfor %}
    {% endif %} -->
    <div class="scroll">
      <div class="field">
          <input type="text" name="full_name" placeholder="Full name" required>
      </div>
      <div class="field">
          <input type="email" name="email" placeholder="Email Address" required>
      </div>


     <!--change class name fieldPt for js-->
      <div class="fieldPt">
          <input type="password" name="password1" placeholder="Create Password" required id="pswrd" >
          <span id="toggleBtn"></span>
      </div>
      <!-- add requried alert show list-->
      <div class="validation">
        <ul>
            <li id="lower">At least one lowercase character</li>
            <li id="upper">At least one uppercase character</li>
            <li id="number">At least one number</li>
            <li id="special">At least one special character</li>
            <li id="length">At least 8 character</li>
        </ul>
      </div>


      <!--change class name fieldPt for js-->
      <div class="fieldPt">
        <input type="password" name="password2" placeholder="Confirm Password" required  id="pswrd2" >
        <span id="toggleBtn2"></span>
    </div>

    <p class="msg" id="msg"></p>





      <div class="field">
          <input type="tel" name="mobile_no" pattern="[0-9]{10}" placeholder="Mobile number" required id="phone">
          <span id="ph"></span>
      </div>
      <div class="center">
        <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}" placeholder="reCAPTCHA" aria-required></div>
      </div>


  </div>
  <div class="login-link">
    <div class="field btn">
      <div class="btn-layer"></div>
      <input type="" id="signupbtn" value="Signup">
    </div>
    <p>
      <span>
        Already Have an Account?
      </span>
    <p1 onclick="toggle()" class="pointer"> <a class="link-colour" href="{% url 'auth:login' %}">
        login here</a>
    </p2>
    </p>
  </div>
</div>
</form>



  </div>

  <div class="image-container">
<!--     {% comment %} <img src="{% static 'img/loginForm.png' %}" alt="Right-aligned image"> {% endcomment %} -->
    <div class="overlay-text">
      <h1>Place<span style="color: #F3DE1B;">me</span></h1>  
      <!-- {% block msg %} -->
  <p id="paragraph1">Get Started Now! Find your dreamjob.</p>
      <!-- {% endblock msg %} -->



      
    </div>
        
  </div>
<!-- 
  <script src="{% static "js/script.js" %}" defer></script>
  <script src="{% static "js/error.js" %}" defer></script> -->
</body>


</html>